body{
    font-family: Arial;
    background:#ffffff;
    padding:20px;
}

.contact-container{
    max-width:500px;
    margin:auto;
}

.contact-card{
    padding:25px;
    background:#f9f9f9;
}

.row{
    display:flex;
    gap:10px;
}

.input-group{
    flex:1;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    font-size:14px;
}

input, select, textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

input:focus, textarea:focus{
    border-color:#007bff;
}

button{
    width:100%;
    padding:12px;
    background-color:#007bff;
    color:white;
    cursor:pointer;
    font-size:16px;
    margin-top:15px;
}

button:hover{
    background-color:#0056b3;
}